	/*
  	Flaticon icon font: Flaticon
  	Creation date: 05/06/2018 06:04
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-report:before { content: "\f100"; }
.flaticon-analysis:before { content: "\f101"; }
.flaticon-clock-2:before { content: "\f102"; }
.flaticon-clock-1:before { content: "\f103"; }
.flaticon-world:before { content: "\f104"; }
.flaticon-globe:before { content: "\f105"; }
.flaticon-house-outline:before { content: "\f106"; }
.flaticon-bus-side-view:before { content: "\f107"; }
.flaticon-money:before { content: "\f108"; }
.flaticon-business-and-finance:before { content: "\f109"; }
.flaticon-clock:before { content: "\f10a"; }
.flaticon-medical-history:before { content: "\f10b"; }
.flaticon-family:before { content: "\f10c"; }
.flaticon-car-1:before { content: "\f10d"; }
.flaticon-car:before { content: "\f10e"; }
.flaticon-up-arrow:before { content: "\f10f"; }
.flaticon-diagram:before { content: "\f110"; }
.flaticon-salary:before { content: "\f111"; }
.flaticon-businessman:before { content: "\f112"; }
.flaticon-trophy:before { content: "\f113"; }
.flaticon-like:before { content: "\f114"; }
.flaticon-group:before { content: "\f115"; }
.flaticon-music:before { content: "\f116"; }
.flaticon-graphic:before { content: "\f117"; }
.flaticon-hand-shake:before { content: "\f118"; }
.flaticon-coins:before { content: "\f119"; }
.flaticon-closed-envelope:before { content: "\f11a"; }
.flaticon-placeholder:before { content: "\f11b"; }
.flaticon-phone-call:before { content: "\f11c"; }